body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* Horizontal center */
    align-items: center;       /* Vertical center */
    background: #afdbeb;
    overflow: hidden;          /* Prevent moving left-right */
}

.main {
    width: 260px;
    height: 455px;
    border: 2px solid black;
    padding-top: 5px;
    padding-left: 4px;
    background-color: rgba(0, 0, 0, 0.372);
}

#display {
    width: 212px;
    height: 70px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
}

button {
    /* padding: 8px; */
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 5px;
    margin-bottom: 7px;
    width: 50px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#backspace {
    padding-top: 2.2px;
    padding-bottom: 2.2px;
    width: 50px;
    height: 60px;
}

button[onclick*='+'],
button[onclick*='-'],
button[onclick*='*'],
button[onclick*='/'],
button[onclick*='%'],
button[onclick="clearDisplay()"],
button[onclick="backspace()"]
{
    background: rgb(123, 185, 207);
}

button[onclick="calculate()"] {
    background: rgb(43, 147, 203);
}